<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		
		<!-- Fonts and stylesheets -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://use.typekit.net/eno1pmc.css">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="/icons/css/academicons.min.css"/>
		<script defer src="/icons/fontawesome/on-server/js/fontawesome-all.js"></script>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="/figures/favicon.ico" />
		
		<!-- Added custom style for logo -->
		<style>
			.nav-logo {
				height: 70px;
				vertical-align: middle;
				margin-right: 50px;
				margin-left: -20px;
			}
			
			nav ul li:first-child {
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<!-- Navigation -->
		<nav>
    		<ul>
        		<li><a href="/" class="int"><img src="/figures/logo_ucsf.png" alt="UCSF Logo" class="nav-logo">NeuroAI Lab</a></li>
	        	<li><a href="/research" class="int">Research</a></li>
        		<li><a href="/team" class="int">Team</a></li>
        		<li><a href="/publications" class="int">Publications</a></li>
        		<li><a href="/collaborators" class="int">Collaborators</a></li>
        		<li><a href="/careers" class="int">Careers</a></li>
        		<li><a href="/news" class="int">Bits</a></li>
    		</ul>
		</nav>
		
		<!-- Content -->
		<div class="container">
		{{ content }}
		</div>
		
		<!-- Footer -->
		<footer>
    		<ul>
				<div class="container">
					<ul>
						<!-- <li><img src="/figures/logos_ucsf.png" alt="Logos UCSF"></li> -->
					</ul>
				</div>
			</ul>
		</footer>
		{% include analytics.html %}
		
		<script>
		  document.addEventListener('DOMContentLoaded', function() {
		    // Exclude hash links (internal page anchors)
		    const links = document.querySelectorAll('a:not([href^="#"])');
		    links.forEach(link => {
		      if (link.hostname !== window.location.hostname) {
		        link.target = '_blank';
		        link.rel = 'noopener noreferrer';  // Security best practice
		      }
		    });
		  });
		</script>
	</body>
</html>